body{
    margin: 0 auto;
}
nav{
    /* width:100%; */
    position: sticky;
    top:10px;
    left:0;
    width: 200px;
}
nav ul{
    background: transparent;
    
}
nav ul li{
    list-style: none;
    margin-right: 30px;
    line-height: 20px;
    background: #0E7FB9;
    margin:10px;
    padding: 5px;
}
nav ul li a:hover{
    color: white;
    background: #9dbac9;
}
nav ul li:hover{
    background: #9dbac9;
}
nav ul li a{
    text-decoration:none;
    color: #000;
}
/* Header section */
header {
    margin: 0 auto;
    width: 1600px;
    height: 808px;
    background-image: url('./images/banner/banner3.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

header div {
    position: absolute;
    text-align: right;
    top: 15%;
    right: 100px;
    color: aliceblue;

}

header div h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
}

header div button {
    cursor: pointer;
    width: 160px;
    height: 54px;
    margin-top: 32px;
    border-radius: 0px 10px;
    font-weight: 700;
    font-size: 20px;
    background-color: #c7d5dd;
    color: #2073B6;
    border:none;
}

header div button:hover {
    background-color: #209FD1;
    color: aliceblue;
    transition: 0.9s ease-in-out;
}
/* Main section started */
.main {
    margin: 50px auto;
    background-image: url('./images/person.png');
    background-repeat: no-repeat;
    width: 1072px;
    height: 723.3px;
    position: relative;
}
.main div{
    position: absolute;
    text-align: right;
    top: 25%;
    right: 100px;
    text-align: left;
}
.main span{
    margin-right: 10px;
    color:red;
}
.plans{
    margin: 100px auto;
}
.plans h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
}
hr{
    width:200px;
    font-weight: 800;
}
.plan{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    height: 210px;
}

.plan .single-plan{
    
}
.plan .single-plan h4{
    font-weight:800;
    font-size: 20px;
}
/* Extra section */
.bonus-section{
    margin:  20px 150px;
    height: 300px;
    background-image: url('./images/gradient1.png'), url('./images/watch.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left right, left right;
    background-size: cover,cover;
    position: relative;

}

.bonus-content{
    position: absolute;
    left:30px;
    color: rgb(245, 247, 248);
}
.bonus-content button{
    cursor: pointer;
    width: 160px;
    height: 54px;
    margin-top: 32px;
    border-radius: 0px 10px;
    font-weight: 700;
    font-size: 20px;
    background-color: #c7d5dd;
    color: #2073B6;
    border:none;
}
.bonus-content button:hover{
    background-color: #209FD1;
    color: aliceblue;
    transition: 0.3s ease-in-out;
}

/* Footer section */
footer{
    width:100%;
    background-color: rgb(22, 19, 19);
    height: 500px;
    color: aliceblue;
    
    
}
.ft-container{
    padding:130px;
    display: flex;
    justify-content: space-between;
}
.right-side input{
    padding: 5px;
    background: #000;
    color:whitesmoke;
    border-radius: 5px;
}
.right-side button{
    cursor: pointer;
    width: 160px;
    height: 54px;
    margin-top: 32px;
    border-radius: 0px 10px;
    font-weight: 700;
    font-size: 20px;
    background-color: #c7d5dd;
    color: #2073B6;
    border:none;
}
.right-side button:hover {
    background-color: #209FD1;
    color: aliceblue;
    transition: 0.9s ease-in-out;
}
